@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@import 'libs/normalize';
@import 'libs/slick';

@import 'base/variables';
@import 'base/animations';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	position: relative;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/offer';
@import 'blocks/buttons';
@import 'blocks/ability';
@import 'blocks/products';
@import 'blocks/advantages';
@import 'blocks/data';
@import 'blocks/contact';

@media (max-width: 1199px) {
	.container {
		width: 100%;
	}
}