.contact {
	padding: 80px 0;
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 302px;
		margin: 0 auto;
		padding: 31px;
		background: url('../../icons/contact/bg_conect.png')center (center/cover) no-repeat;
		img {
			display: block;
			width: 100%;
		}
	}
}
.contact .title-black {
	width: 588px;
	margin-top: 73px;
}
.contact .button {
	display: block;
	margin: 31px auto 0;
}

@media (max-width: 1199px) {
	.contact .button {
		width: 182px;
	}
}
@media (max-width: 991px) {
	.contact .button {
		width: 220px;
	}
	.contact .title-black {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.contact {
		padding-top: 80%;
	}
	.contact .button {
		width: 158px;
	}
}
@media (max-width: 575px) {
	.contact {
		padding: 80vh 40px 40px;
		&__img {
			width: 80%;
		}
	}
}