.contact {
	padding: 80px 0;
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 302px;
		height: 302px;
		margin: 0 auto;
		padding: 31px;
		background: url('../icons/contact/bg_conect.png') center (center/cover) no-repeat;
		img {
			width: 100%;
			animation: push_it 1s ease 0s infinite alternate;
		}
	}
}
.contact .title-black {
	width: 588px;
	margin: 72px auto 0;
}
.contact .button {
	display: block;
	width: 241px;
	margin: 31px auto 0;
}

@media (max-width: 767px) {
	.contact {
		padding: 80px 40px;
	}
	.contact .title-black {
		width: 100%;
	}
}
@media (max-width: 575px) {
	.contact {
		padding: 40px;
		&__img {
			width: 80%;
			height: 80%;
		}
	}
}