.data {
	position: relative;
	min-height: 580px;
	padding-top: 80px;
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 90px;
	}

	&__bg {
		&-left {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			background: url('../img/data_block/cloud.jpg')center (center/cover) no-repeat;
			z-index: -1;
		}
		&-right {
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
			background: url('../img/data_block/server.jpg')center (center/cover) no-repeat;
			z-index: -1;
		}
	}

	&__cloud {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 570px;
		height: 167px;
		margin-right: 41px;
		padding: 0px 41px 0px 0;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 167px;
			height: 167px;
			background: $main-color;
			opacity: 0.3;
			z-index: -1;
		}
	}

	&__server {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 570px;
		height: 167px;
		margin-left: 41px;
		padding: 0px 0px 0px 41px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 167px;
			height: 167px;
			background: $main-color;
			opacity: 0.3;
			z-index: -1;
		}
	}

	&__subtitle {
		font-size: 30px;
		font-weight: 900;
		text-align: right;
		color: #ffffff;
		text-transform: uppercase;
		&-right {
			text-align: left;
		}
	}

	&__descr {
		margin-top: 20px;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.44;
		text-align: right;
		color: #ffffff;
		&-right {
			margin-top: 20px;
			text-align: left;
		}
	}
}
.data .title {
	width: 374px;
}

@media (max-width: 1199px) {
	.data {
		min-height: 100%;
		padding: 40px;
		&__cloud {
			width: 100%;
		}
		&__server {
			width: 100%;
		}
		&__subtitle {
			font-size: 25px;
		}
	}
}

@media (max-width: 991px) {
	.data {
		&__descr {
			font-size: 14px;
		}
	}
}

@media (max-width: 767px) {
	.data {
		&__wrapper {
			display: block;
		}
		&__bg {
			&-left {
				width: 100%;
			}
			&-right {
				top: 100%;
				width: 100%;
			}
		}
		&__server {
			position: absolute;
			top: 130%;
			margin-left: 0;
			width: 85%;
		}
		&__descr {
			&-right {
				width: 90%;
			}
		}
	}
}

@media (max-width: 575px) {
	.data {
		&__subtitle {
			font-size: 18px;
		}
	}
	.data .title {
		width: 100%;
	}
}