.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0px 19px 0px;
	margin: 0 auto;
	background: #ffffff;
	z-index: 1;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		padding-right: 30px;
		display: flex;
		&:last-child {
			padding-right: 0;
		}
	}

	&__icon {
		width: 28px;
		height: 21px;
		margin-right: 10px;
		img {
			width: 100%;
		}
	}

	&__contact {
		font-size: 11px;
		font-weight: 300;
		text-align: left;
		color: #242424;
	}

	&__subtitle {
		font-size: 13px;
		line-height: 13px;
  		font-weight: 700;
	}

	&__address {
		display: block;
		margin-top: 5px;
		line-height: 11px;
		font-style: normal;
	}

	&__tel {
		display: block;
		margin-top: 5px;
		line-height: 11px;
		text-decoration: none;
		color: #242424;
		transition: ease .5s all;
		&:hover {
			color: $main-color;
		}
	}

	&__email {
		display: block;
		margin-top: 5px;
		line-height: 11px;
		text-decoration: none;
		color: #242424;
		transition: ease .5s all;
		&:hover {
			color: $main-color;
		}
	}
}

@media (max-width: 1199px) {
	.header {
		padding: 20px 40px;
		&__address {
			display: none;
		}
		&__email {
			display: none;
		}
	}
}

@media (max-width: 991px) {
	.header {
		display: none;
	}
}