.offer {
	min-height: 700px;
	margin-top: 85px;
	padding-top: 39px;
	background: url('../img/offer/bg_offer.jpg')center (center/cover) no-repeat;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: center;
		width: 140px;
		height: 65px;
		img {
			width: 100%;
		}  
	}

	&__menu {
		width: 545px;
		font-size: 13px;
		font-weight: 700;
		line-height: 13px;
		text-transform: uppercase;
	}

	&__list {
		display: flex;
		list-style: none;
		li {
			margin-right: 45px;
			&:last-child {
				margin-right: 0;
			}
			&:hover a {
				color: $main-color;
			}
		}
		a {
			transition: ease .5s all;
			text-decoration: none;
			color: #ffffff;
		}
	}

	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-top: 27px;
	}

	&__access {
		display: flex;
		flex-direction: column;
		width: 525px;
		min-height: 268px;
		padding-top: 106px;
	}

	&__title {
		margin: 0;
		font-size: 40px;
		font-weight: 900;
		line-height: 1.14;
		text-align: left;
		color: #ffffff;
	}

	&__subtitle {
		margin-top: 27px;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.25;
		text-align: left;
		color: #ffffff;
		&-up {
			text-transform: uppercase;
		}
	}
	.carousel {
		width: 50%;
		img {
			width: 80%;
		}
		.slick-slide {
			display: flex;
			justify-content: flex-end;
			outline: none;
		}
		.slick-dots {
			display: flex;
			position: absolute;
			top: 85%;
			left: -15%;
			list-style: none;
			transform: translateX(50%);
			button {
				width: 12px;
				height: 12px;
				margin-right: 3px;
				border: solid 1px #fff;
				border-radius: 100%;
				background: none;
				font-size: 0;
				outline: none;
				cursor: pointer;
			}
			.slick-active {
				button {
					background: #fff;
				}
			} 
		}
		.slick-prev {
			position: absolute;
			top: 86%;
			left: -12%;
			font-size: 0;
			height: 11px;
			width: 6px;
			transform: translateY(20%);
			border: none;
			color: #fff;
			background: url(../icons/offer/arrow-left.png)no-repeat;
			outline: none;
			cursor: pointer;
		}
		.slick-next {
			position: absolute;
			top: 86%;
			left: 6%;
			font-size: 0;
			height: 11px;
			width: 6px;
			transform: translateY(20%);
			border: none;
			color: #fff;
			background: url(../icons/offer/arrow-right.png)no-repeat;
			outline: none;
			cursor: pointer;
		}
	}
}

@media (max-width: 1199px) {
	.offer {
		min-height: 0;
		margin-top: 69px;
		padding: 40px 40px 0;
		&__menu {
			font-size: 12px;
		}
		&__list {
			justify-content: flex-end;
		}
		&__title {
			font-size: 31px;
		}
		&__subtitle {
			width: 80%;
			font-size: 18px;
		}
		.carousel {
			img {
				display: block;
				width: 80%;
			}
			.slick-dots {
				left: -15%;
			}
			.slick-prev {
				left: -10%;
			}
			.slick-next {
				left: 12%;
			}
		}
	}
}

@media (max-width: 991px) {
	.offer {
		margin-top: 0;
		&__burger {
			position: relative;
			width: 30px;
			height: 20px;
			&::before {
				content: '';
				background: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				right: 0;
				top: 0;
				transition: all .5s ease 0s;
			}
			span {
				background: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				right: 0;
				top: 9px;
				transition: all .5s ease 0s;
			}
			&::after {
				content: '';
				background: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				right: 0;
				bottom: 0;
				transition: all .5s ease 0s;
			}
		}
		&__burger.active {
			position: fixed;
			top: 11%;
			right: 5%;
			z-index: 9999;
			&::before {
				transform: rotate(45deg);
				top: 9px;
			}
			span {
				transform: scale(0);
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}
		&__menu {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(3, 157, 193, 0.9);
			z-index: 9998;
		}
		&__menu.active {
			top: 0;
		}
		&__list {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: 20px;
			line-height: 20px;
			li {
				margin: 0 0 45px 0;
				&:last-child {
					margin: 0;
				}
				&:active{
					transform: scale(1.1);
				}
				&:hover a {
					color: #fff;
				}
			}
		}
		&__content {
			flex-direction: column;
			align-items: center;
		}
		&__access {
			align-items: center;
			width: 80%;
		}
		&__title {
			width: 100%;
			text-align: center;
		}
		&__subtitle {
			width: 100%;
			text-align: center;
		}
		.carousel {
			margin-top: 40px;
			width: 60%;
			img {
				width: 100%;
			}
			.slick-slide {
				width: 100%;
				justify-content: center;
			}
			.slick-prev {
				top: 60%;
				left: -12%;
				transform: translateY(-50%);
			}
			.slick-next {
				top: 60%;
				left: 110%;
				transform: translateY(-50%);
			}
			.slick-dots{
				button {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.offer {
		&__burger.active {
			right: 7%;
		}
	}
}

@media (max-width: 575px) {
	.offer {
		&__logo {
			width: 40%;
		}
		&__burger.active {
    		right: 13%;
		}
		&__menu {
			width: 100%;
		}

		&__list {
			font-size: 16px;
    		line-height: 16px;
		}
		&__access {
			padding-top: 0;
		}
		&__title {
			font-size: 24px;
		}
		&__subtitle {
			font-size: 14px;
		}
		.carousel {
			width: 85%;
			img {
				width: 90%;
			}
			.slick-prev {
				left: -5%;
			}
			.slick-next {
				left: 103%;
			}
		}
	}
}