.products {
	padding: 78px 0px 61px;
	background: url('../img/products/bg_products.jpg')left (center/cover) no-repeat;
	.carousel {
		display: flex;
		align-items: center;
		width: 947px;
		margin: 25px auto 0;
		padding-top: 100px;
		img {
			width: 100%;
		}
		.slick-prev {
			position: absolute;
			top: 50%;
			left: -5%;
			width: 18px;
			height: 60px;
			background: url(../icons/products/arrow_left.png)center no-repeat;
			border: none;
			font-size: 0;
			outline: none;
			cursor: pointer;
			z-index: 1000;
		}
		.slick-next {
			position: absolute;
			top: 50%;
			right: -5%;
			width: 18px;
			height: 60px;
			background: url(../icons/products/arrow_right.png)center no-repeat;
			border: none;
			font-size: 0;
			outline: none;
			cursor: pointer;
			z-index: 1000;
		}
		.slick-dots {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 845px;
			height: 65px;
			padding: 0px 10px;
			border-radius: 4px;
			border: solid 1px #ffffff;
			list-style: none;
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 48px;
				padding:0 25px 0;
				border-right: 1px solid #8b9192;
				font-size: 0px;
				text-align: center;
				color: #ffffff;
				cursor: pointer;
				transition: ease .5s all;
				&:hover {
					color: $main-color;
				}
				&:last-child {
					border: none;
				}
				button {
					border: none;
				}
				&:nth-child(1)::before {
					content: 'Prengi Production';
					height: auto;
					width: 100%;
					font-size: 14px;
					line-height: 1.5;
				}
				&:nth-child(2)::before {
					content: 'Prengi FMC';
					height: auto;
					width: 100%;
					font-size: 14px;
					line-height: 1.5;
				}
				&:nth-child(3)::before {
					content: 'Prengi Maliz Retail';
					height: auto;
					width: 100%;
					font-size: 14px;
					line-height: 1.5;
				}
				&:nth-child(4)::before {
					content: 'Prengi Logistic';
					height: auto;
					width: 100%;
					font-size: 14px;
					line-height: 1.5;
				}
				&:nth-child(5)::before {
					content: 'Prengi IT';
					height: auto;
					width: 100%;
					font-size: 14px;
					line-height: 1.5;
				}
				&:nth-child(6)::before {
					content: 'Prengi HR';
					height: auto;
					width: 100%;
					font-size: 14px;
					line-height: 1.5;
				}
			}
		}
	}
}
.title {
	width: 625px;
	margin: 0 auto;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
	color: #ffffff;
}

@media (max-width: 1199px) {
	.products {
		.carousel {
			width: 100%;
			img {
				display: block;
				width: 80%;
				margin: 0 auto;
			}
			.slick-prev {
				left: 5%;
			}
			.slick-next {
				right: 5%;
			}
		}
	}
	.title {
		font-size: 25px;
	}
}

@media (max-width: 991px) {
	.products {
		padding: 78px 40px 61px;
		.carousel {
			.slick-dots {
				width: 100%;
				li {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.products {
		.carousel {
			width: 100%;
			img {
				display: block;
				width: 85%;
				margin: 0 auto;
			}
			.slick-prev {
				left: 0;
			}
			.slick-next {
				right: 0;
			}
			.slick-dots {
				li {
					padding: 0 12px 0;
					&:nth-child(1)::before {
						font-size: 13px;
					}
					&:nth-child(2)::before {
						font-size: 13px;
					}
					&:nth-child(3)::before {
						font-size: 13px;
					}
					&:nth-child(4)::before {
						font-size: 13px;
					}
					&:nth-child(5)::before {
						font-size: 13px;
					}
					&:nth-child(6)::before {
						font-size: 13px;
					}
				}
			}
		}
	}
	.title {
		width: 100%;
	}
}

@media (max-width: 575px) {
	.products {
		padding: 40px 25px 30px;
		.carousel {
			width: 100%;
			img {
				width: 85%;
			}
			.slick-prev {
				top: 55%;
			}
			.slick-next {
				top: 55%;
			}
			.slick-dots {
				padding: 0;
				li {
					padding: 0px 2% 0;
					&:nth-child(1)::before {
						font-size: 10px;
					}
					&:nth-child(2)::before {
						font-size: 10px;
					}
					&:nth-child(3)::before {
						font-size: 10px;
					}
					&:nth-child(4)::before {
						font-size: 10px;
					}
					&:nth-child(5)::before {
						font-size: 10px;
					}
					&:nth-child(6)::before {
						font-size: 10px;
					}
				}
			}
		}
	}
	.title {
		font-size: 20px;
	}
}